extends base
block content
    br
    br
    br
    br
    br
    br
    br
    br
    .container
        .row
            .col-12
                main.main
                  .login-form
                      h2.heading-secondary.ma-bt-md delete user
                      form.form.form--deletepost
                          .form__group
                            label.form__label(for='title') Title
                            input#post.form__input(type='title', placeholder='post title', required)
                          .form__group.right
                            button.btn.btn-outline-secondary Delete




                          

                    
                
              
            