extends base

block content
  br
  br
  br
  br
  br
  br
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong! 
        h2.error__emoji 😢 🤯
      .error__msg= msg