h3
  u BHAUJA
h7
  | ODIA SEX STORIES
  h7
    br
    br
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      a.navbar-brand(href="/") Home          
      ul.navbar-nav
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
            | Odia Jona
          .dropdown-menu
            a.dropdown-item(href="#") Link 1
            a.dropdown-item(href="#") Link 2
            a.dropdown-item(href="#") Link 3
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
            | Other Language Stories
          .dropdown-menu
            a.dropdown-item(href="#") Link 1
            a.dropdown-item(href="#") Link 2
            a.dropdown-item(href="#") Link 3
        li.nav-item
          a.nav-link(href="#") Publish Stories
      nav.nav.nav--user
        if user
          a.nav__el(href='/logout') Log out
          a.nav__el(href='/me')
            img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
            span= user.name.split(' ')[0]
        else
          a.nav__el(href='/login')
            i.fa.fa-user-o.mr-3
            | AdminLogin