extends base
block content
  .my-login-page
    section.h-100
      .container.h-100
        .row.justify-content-md-center.align-items-center.h-100
          .card-wrapper
            //- .brand
              //- img(src="img/logo.jpg")
            .card.fat
              .card-body
                h4.card-title 
                  u Recover Password
                  p
                    |Instructions to change the password were sent to
                    |Check your spam folder in case it's not in your inbox 
                    |after that you can login



  //- main.main
  //-   .login-form
  //-     h2.heading-secondary.ma-bt-lg Recover Password
  //-       p
  //-        |Instructions to change the password were sent to
  //-        |Check your spam folder in case it's not in your inbox 
  //-        |after that you can login