extends base
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Recover Password
        p
         |Instructions to change the password were sent to
         |Check your spam folder in case it's not in your inbox 
         |after that you can login