extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Recover password
      form(method='POST', action=`/resetPassword/${token}`)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input.form__input(type='password', name='password',placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='confirmPassword') Re-enter
          input.form__input(type='password',name='confirmPassword', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn-outline-secondary Submit