extends base

block content
  .my-login-page
    section.h-100
      .container.h-100
        .row.justify-content-md-center.align-items-center.h-100
          .card-wrapper
            //- .brand
              //- img(src="img/logo.jpg")
            .card.fat
              .card-body
                h4.card-title Reset Password
                form(method='POST', action=`/resetPassword/${token}`)
                  .form-group
                    label(for="password") New Password
                    input.form-control(type="password" name="password" required="" autofocus="" data-eye="")
                    .invalid-feedback
                      | Password is required
                    .form-text.text-muted
                      | Make sure your password is strong and easy to remember
                  .form-group
                    label(for="confirmPassword") Re-enter
                    input.form-control(type="password" name="confirmPassword" required="" autofocus="" data-eye="")
                  .form-group.m-0
                    button.btn.btn-primary.btn-block(type="submit")
                      | Reset Password

  //- main.main
  //-   .login-form
  //-     h2.heading-secondary.ma-bt-lg Recover password
  //-     form(method='POST', action=`/resetPassword/${token}`)
  //-       .form__group.ma-bt-md
  //-         label.form__label(for='password') Password
  //-         input.form__input(type='password', name='password',placeholder='••••••••', required, minlength='8')
  //-       .form__group.ma-bt-md
  //-         label.form__label(for='confirmPassword') Re-enter
  //-         input.form__input(type='password',name='confirmPassword', placeholder='••••••••', required, minlength='8')
  //-       .form__group
  //-         button.btn.btn-outline-secondary Submit